* {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
html{
	height: 100%;
}
body {
    text-align: center;
	background-color: black;
	height: 100%;
	overflow-y: hidden;
}

hr {
	border: 1px solid dimgray;
	width: 95%;
}

.title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

.game-container{
	height: 87%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.tile-container {
    width: 340px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
.tile-container div {
	display: flex;
}


.tile {
    /* Box */
    border: 2px solid dimgray;
    width: 60px;
    height: 60px;
    margin: 2px;

    /* Text */
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-overlay {
    background-color: #538d4e !important;
    border:2px solid #538d4e !important;
}

.yellow-overlay {
    background-color: #b59f3a !important;
    border:2px solid #b59f3a !important;
}

.gray-overlay {
    background-color: gray !important;
	border: 2px solid gray;
}

.wordlist-container {
	width: 95%;
	min-width: 340px;
	min-height: 28px;
	height: 70%;
	margin: 0px auto;
	border: 1px solid dimgray;
}

.tablelist-container{
	width: 100%;
	text-align: center;
	height: 26px;
}
td{
	min-width: 58px;
	height: 23px;
}

.cell{
	border: 1px solid dimgray;
}

.keyboard-container{
	width: 97%;
	min-width: 340px;
	max-width: 500px;
}

.keyboard-row {
    width: 100%;
    display: flex;
	justify-content: center;
    align-items: center;
	margin: 0 auto;
}

.key-tile {
      width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: gray;
    margin: 3px;
	align-items: center;
    display: flex;
    justify-content: center;

}

.widekey-tile {
      width: 68px;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
